/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    outline: none;
}

body{
    
    background-color: rgb(131, 231, 206);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 380px;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    border: 2px solid;
    border-radius: 25px;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 25px;
  
}

.search-box input {
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    background-color: whitesmoke;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.search-box input::placeholder{
     color: black;
     
}

.search-box button{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}
button:hover{
    color: #fff;
    background-color: black;
}
.weather-body{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.weather-body img{
    width: 220px;
    height: 100px;
    

}

.weather-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#city{
    font-size: 22px;
    font-weight: 700;
    margin-block: 15px;

}
#tem{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
#description{
    font-size: 16px;
    font-weight: 700;
}

.weather-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
    width: 100%;
    margin-block: 15px;
}
.weather-details .humidity,.Wind-Speed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weather-details i{
    font-size: 18px;
    margin-right: 10px;
}
.weather-details text{
    font-size: 16px;
} */




* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* background: #222; */
    background-image: url(./night1.avif);
    /* overflow: hidden; */
    /* background: no-repeat */
}

.cards {
    width: 90%;
    max-width: 470px;
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 35px 40px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search  button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 80px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
@media(max-width: 480px){
    .search{
        width: 95%;
        border: 1px solid red;
    }
    .search input{
        width: 70%;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .col img{
        margin-bottom: 10px;
    }
}